package ${package}.service.impl;

import org.springframework.stereotype.Service;

import javax.annotation.Resource;

import java.util.List;
import java.util.Map;

import ${package}.dao.${className}Dao;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl implements ${className}Service {

	@Resource
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className}Entity get(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.get(${pk.attrname});
	}
	
	@Override
	public List<${className}Entity> list(Map<String, Object> map){
		return ${classname}Dao.list(map);
	}
	
	@Override
	public int count(Map<String, Object> map){
		return ${classname}Dao.count(map);
	}
	
	@Override
	public int save(${className}Entity ${classname}){
		return ${classname}Dao.save(${classname});
	}
	
	@Override
	public int update(${className}Entity ${classname}){
		return ${classname}Dao.update(${classname});
	}
	
	@Override
	public int remove(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.remove(${pk.attrname});
	}
	
	@Override
	public int batchRemove(${pk.attrType}[] ${pk.attrname}s){
		return ${classname}Dao.batchRemove(${pk.attrname}s);
	}
	
}
